@charset "utf-8";

$font-family-default: "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$base-font-weight: 400 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     2rem !default;

$text-color:       #222 !default;
$brand-color:      #2a7ae2 !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "normalize",
  "theme/base",
  "theme/typography",
  "theme/layout"
;

html {
  font: normal normal 105%/1.7 $font-family-default;
  color: $text-color;
  background-color: red;
}

.mobile-invisible {
	visibility: hidden;
  display: none;
}

@include media-query($on-palm) {
  .mobile-invisible {
  	visibility: visible;
    display: inherit;
  }
}
